html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5e8ba;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #1f2029;
    border-radius: 10px;
    box-sizing: border-box;
}

h2 {
    color: #ffeba7;
    letter-spacing: 1px;
}

.inputdiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    border-radius: 5px;
    border: 2px solid black;
    height: 2em;
    width: 70vw; /* Use percentage width for responsiveness */
    max-width: 250px; /* Set a maximum width for larger screens */
    padding-left: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

button {
    margin-top: 20px;
    background-color: #ffeba7;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
    cursor: pointer;
}

button:hover {
    background-color: #ffce7d; /* Lighter color on hover */
}

#result {
    color: white;
    margin-top: 20px;
    font-size: 2em; /* Responsive font size */
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    input {
        width: 90vw;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 1.5em;
    }

    input {
        width: 100%;
        max-width: none;
    }

    button {
        width: 100%;
        max-width: none;
    }
}
